{% extends 'main/header.html' %}

{% block content %}

{% load staticfiles %}
        <h5 style="text-align: right"><a href="/travel/logout" style="margin: 20px">Log out</a> | <a href="/travel/travel" style="margin: 20px">Home</a></h5>
        <h5 class="container">Hello, {{user.name}} </h5>
        <div class="container row">
            {% if messages %}
                <ul>
                {% for message in messages %}
                <li style="color:red">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="row">
                <form action="/travel/createplan" class="col s12" method="POST">
                    <div class="">
                    {% csrf_token %}
                    <!-- <label for="textarea1"></label> -->
                    <textarea name="destination" class="materialize-textarea" placeholder="Destination"></textarea>
                    <!-- <label for="textarea2">Description</label> -->
                    <textarea name="description" class="materialize-textarea" placeholder="Description"></textarea>
                    <label for="textarea3">Travel Date From</label>
                    <input name="start" id="textarea3" type="date" class="materialize-textarea" placeholder="Travel Date From~">
                    <label for="textare4">Travel Date To</label>
                    <input name="end" id="textare4" type="date" class="materialize-textarea" placeholder="Travel Date To">
                    <button type="submit" class="btn">Add</button>
                    </div>
                </form>
            </div>

{% endblock %}