{% extends 'main/header.html' %}

{% block content %}

{% load staticfiles %}
<div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #16a085">
<div class="container">
          <div class="jumbotron text-white" style="background-color: #16a085; padding-left: 0px;">
                <h1 class="display-4">Welcome, <strong>{{user.name}}</strong>!</h1>
                <p class="lead">You have sucessfully logged in, now you can find mates to have a trip together.</p>
                {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <h5 style="text-align: right;"><a href="/travel/logout" class="text-white">Logout</a></h5>
        </div>

    </div>
</div>

<div class="container">
        <h2><strong>Your Trip Schedules</strong></h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Desination</th>
                <th scope="col">Travel Start Date</th>
                <th scope="col">Travel End Date</th>
                <th scope="col">Plan</th>
            </tr>
            </thead>
            <tbody>
                {%if travels%}
                    {%for travel in travels%}
                        {%if travel.creator.id == user.id%}
                <tr>
                    <td><a href="/travel/show/{{travel.id}}">{{travel.destination}}</a></td>
                    <td>{{travel.start}}</td>
                    <td>{{travel.end}}</td>
                    <td>{{travel.description}}</td>
                </tr>
                        {%endif%}
                        {%for everyuser in travel.join.all%}
                            {%if everyuser.id == user.id%}
                <tr>
                    <td><a href="/travel/show/{{travel.id}}">{{travel.destination}}</a></td>
                    <td>{{travel.start}}</td>
                    <td>{{travel.end}}</td>
                    <td>{{travel.description}}</td>
                </tr>
                            {%endif%}
                        {%endfor%}
                    {%endfor%}
                {%endif%}
            </tbody>
        </table>
    </div>
        <br>
    <div class="container">
        <h2><strong>Other User's Travel Plans</strong></h2>
        <table class="table">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Destination</th>
                <th scope="col">Travel Start Date</th>
                <th scope="col">Travel End Date</th>
                <th scope="col">Do You Want to Join?</th>
            </thead>
            <tbody>
                {%if travels%}
                    {%for travel in others%}
                <tr>
                    <td>{{travel.creator.name}}</td>
                    <td><a href="/travel/show/{{travel.id}}">{{travel.destination}}</a></td>
                    <td>{{travel.start}}</td>
                    <td>{{travel.end}}</td>

                        {%if user !=  travel.creator%}
                    <form class="" action="/travel/join/{{travel.id}}" method="POST">
                         {% csrf_token %}
                        <td><input type="Submit" name="join" value="Join" class="btn btn-info"></td>
                    </form>
                        {%endif%}
                </tr>
                    {%endfor%}
                {%endif%}
            </tbody>
        </table>
        <br>
        <h5 style="text-align: right"><a href="/travel/addplan" class="btn btn-info">Add Travel Plan</a></h5>
    </div>
</div>
{% endblock %}